header {
  display: inline;  
}
h1 {
  margin-left: 5%;
    display: inline;
}
span {
    color: red;
}
.topnav {
  font-size: 20px;
}
.logo {
  width: 10%;
  height: auto;


}
@media only screen and (max-width: 400px) {
  .logo {
    width: 22%;
  
}
}